<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" layout:decorate="layout/main.html">
<div class="container" layout:fragment="mainContent">
    <div class="container">
        <div class="row">
            <form th:action="@{'/add'}" method="post">
                <input type="hidden" name="id" th:value="${#authentication.principal.id}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" name="title"
                                   placeholder="insert title">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control textarea" name="content"
                                      placeholder="Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success">add news</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>